.cart {
  display: flex;
  margin: 1.1rem;
  background-color: white;
}
.cart_item_img {
  width: 20rem;
  height: 20rem;
  display: flex;
  margin: 1rem;
}

.cart_item_details {
  display: flex;
  flex-direction: column;

 
}
.cart_ite_rating {
  display: flex;

}

.cart_item_desc {
  display: flex;
  flex-direction: column;
  object-fit: contain;
}

.cart_item_price {
  
  display: flex;
    flex: auto;
    justify-content: end;
    margin: 1rem;
    padding-bottom: 0.5rem;
}
button{
  background-color: #ffd814;
  border: 1px solid #fcd513;
  border-radius: 0.3rem;
}

.cart_item_details>*{
    margin: 0.8rem;
}